{% extends 'base.html.twig' %}

{% block title %}Wyniki wyszukiwania{% endblock %}

{% block body %}
    <h1 class="text-2xl font-bold mb-4">Wyniki wyszukiwania dla "{{ searchTerm }}"</h1>

    {% if books is empty %}
        <p>Brak wyników dla zapytania "{{ searchTerm }}".</p>
    {% else %}
        <ul>
            {% for book in books %}
                <li>
                    <h2 class="font-semibold">{{ book.title }}</h2>
                    <p>Autor: {{ book.author }}</p>
                    <p>Kategoria: {{ book.category }}</p>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
