<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body class="text-gray-800 bg-gray-50">
<div class="flex flex-col justify-between min-h-screen relative">
    <div>
        <header class="bg-blue-100 h-[114px] shrink-0 flex flex-col sm:flex-row items-center sm:justify-between py-4 sm:py-0 px-6 border-b border-blue-200 shadow-md">
            <a href="#" class="text-xl font-semibold text-blue-800">
                logo
            </a>
            <nav class="flex-1 flex justify-center space-x-4 font-semibold text-blue-600 items-center">
                <a class="hover:text-blue-700 pt-2" href="{{ path('app_main') }}">
                    Home
                </a>
                <a class="hover:text-blue-700 pt-2" href="{{ path('app_books_list') }}">
                    Books
                </a>
                <a class="hover:text-blue-700 pt-2" href="#">
                    Contact
                </a>

                <!-- Pasek wyszukiwania -->
                <form action="{{ path('app_book_search') }}" method="get" class="flex items-center border rounded-lg overflow-hidden bg-white">
                    <input type="text" name="query" placeholder="Search..." class="px-3 py-2 text-gray-700 outline-none w-32 sm:w-48" />
                    <button type="submit" class="px-4 py-2 bg-blue-600 text-white hover:bg-blue-700 transition">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </nav>
            <div class="flex space-x-4 ml-auto items-center">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <div class="relative group flex space-x-4">
                        <a class="rounded-[60px] py-2 px-5 bg-blue-200 hover:bg-blue-300 text-blue-800 hover:text-blue-900 transition-colors flex items-center space-x-2" href="{{ path('app_account') }}">
                            <i class="fas fa-user-circle"></i>
                            <span>My account</span>
                        </a>
                        <a class="rounded-[60px] py-2 px-5 bg-blue-200 hover:bg-blue-300 text-red-500 flex items-center space-x-2" href="{{ path('app_logout') }}">
                            <i class="fas fa-sign-out-alt"></i>
                            <span>Logout</span>
                        </a>
                    </div>
                {% else %}
                    <a class="rounded-[60px] py-2 px-5 bg-blue-200 hover:bg-blue-300 text-blue-800 hover:text-blue-900 transition-colors flex items-center space-x-2" href="{{ path('app_login') }}">
                        <i class="fas fa-sign-in-alt"></i>
                        <span>Login</span>
                    </a>
                {% endif %}
            </div>
        </header>
        {% block body %}{% endblock %}
    </div>
    <footer class="p-5 bg-blue-100 text-center border-t border-blue-200">
        Made with ❤️ by <a class="text-blue-600 hover:text-blue-700" href="https://symfonycasts.com">SymfonyCasts</a>
    </footer>
</div>
</body>
</html>
